<div class="container">
  <div class="row row-content">
    <div class="col-xs-12">
      <div class="media">
        <div class="media-left media-middle">
          <a href="#">
            <img class="media-object img-thumbnail"
                 [src]=dish.image alt="Uthappizza">
          </a>
        </div>
        <div class="media-body">
          <h2 class="media-heading">{{dish.name}}
            <span class="label label-danger">{{dish.label}}</span>
            <span class="badge">{{dish.price | currency}}</span></h2>
          <p>{{dish.description}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
