<div class="container">
  <div class="row row-content">
    <div class="col-xs-12 col-sm-3 col-sm-push-9">
      <p style="padding:20px;"></p>
      <h3 align=center>Our Lipsmacking Culinary Creations</h3>
    </div>
    <div class="col-xs-12 col-sm-9 col-sm-pull-3">
      <div [hidden]=showDish>
        <h3>{{dishMessage}}</h3>
      </div>
      <div class="media" [hidden]=!showDish>
        <h2>{{dish?.name}} <span class="label label-danger">{{dish?.label}}</span> <span class="badge">${{dish?.price}}</span>
        </h2>
        <div class="media-left media-middle">
          <a  [routerLink] = "['/menu', dish?dish.id:0]">
            <img class="media-object img-thumbnail" [src]= "dish?dish.image:''">
          </a>
        </div>
        <div class="media-body">
          <h2 class="media-heading">{{dish?.name}}</h2>
          <p>{{dish?.description}}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row row-content">
    <div class="col-xs-12 col-sm-3">
      <p style="padding:20px;"></p>
      <h3 align=center>This Month's Promotions</h3>
    </div>
    <div class="col-xs-12 col-sm-9">
      <div [hidden]=showPromotion>
        <h3>{{promoMessage}}</h3>
      </div>
      <ul class="media-list" [hidden]=!showPromotion>
        <li class="media">
          <div class="media-body">
            <h2>{{promotion.name}} <span class="label label-danger">{{promotion.label}}</span> <span
                    class="badge">{{promotion.price | currency}}</span></h2>
            <p>{{promotion.description}} </p>
          </div>
          <div class="media-right media-middle">
            <a [routerLink] = "['/menu', promotion._id]">
              <img class="media-object img-thumbnail"[src]= promotion.image>
            </a>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="row row-content">
    <div class="col-xs-12 col-sm-3 col-sm-push-9">
      <p style="padding:20px;"></p>
      <h3 align=center>Meet our Culinary Specialists</h3>
    </div>
    <div class="col-xs-12 col-sm-9 col-sm-pull-3">
      <div [hidden]=showChef>
        <h3>{{chefMessage}}</h3>
      </div>
      <div class="media" [hidden]=!showChef>
        <div class="media-left media-middle">
          <a href="#">
            <img class="media-object img-thumbnail" [src]=chef.image>
          </a>
        </div>
        <div class="media-body">
          <h2 class="media-heading">{{chef.name}}
            <small> {{chef.designation}}</small>
          </h2>
          <p>{{chef.description}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
