/* You can add global styles to this file, and also import other style files */
.row-header {
    margin: 0px auto;
    padding: 0px 0px;
}
.row-content {
    margin: 0px auto !important;
    padding: 50px 0px !important;
    border-bottom: 1px ridge !important;
    min-height: 400px !important;
}
.row-footer {
    margin: 0px auto;
    padding: 20px 0px;
    background-color: #AfAfAf;
}
.jumbotron {
    margin: 0px auto !important;
    padding: 70px 30px !important;
    background: #7986CB !important;
    color: floralwhite !important;
}
.carousel {
    background: #1a237e !important;
}
.carousel .item {
    height: 300px;
}
.carousel .item img {
    left: 0;
    min-height: 300px;
    position: absolute;
    top: 0;
}
.navbar-inverse {
    background: #303f9f !important;
    color: #ffffff !important;
}
.navbar-inverse .navbar-nav > .active > a {
    background: #1a237e !important;
    color: #ffffff !important;
}
.navbar-inverse .navbar-nav > .active > a:hover {
    background: #1a237e !important;
    color: #ffffff !important;
}
.navbar-inverse .navbar-nav > .active > a:focus {
    background: #1a237e !important;
    color: #ffffff !important;
}
.navbar-inverse .navbar-nav > .open > a {
    background: #1a237e !important;
    color: #ffffff !important;
}
.navbar-inverse .navbar-nav > .open > a:hover {
    background: #1a237e !important;
    color: #ffffff !important;
}
.navbar-inverse .navbar-nav > .open > a:focus {
    background: #1a237e !important;
    color: #ffffff !important;
}
.navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
    background-color: #303f9f !important;
    color: #eeeeee !important;
}
.navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover {
    color: #000000 !important;
}
.navbar-inverse .navbar-nav .open .dropdown-menu {
    background-color: #303f9f !important;
    color: #eeeeee !important;
}
address {
    color: #0f0f0f;
    font-size: 80%;
    margin: 0px;
}
body {
    align: center;
    padding: 50px 0px 0px 0px;
    z-index: 0;
}
.tab-content {
    border-bottom: 1px solid #dddddd;
    border-left: 1px solid #dddddd;
    border-right: 1px solid #dddddd;
    padding: 10px;
}
.affix {
    top: 100px;
}
#carouselButtons {
    bottom: 0px;
    position: absolute;
    right: 0px;
}

[hidden] {
    display: none !important;
}
